*{
    padding: 0;
    margin: 0;
}

.logo > h1{
    color: rgba(27, 9, 109, 0.925);
    margin-left: 50px;
}

#navigation{
    background-image: linear-gradient(dodgerblue, rgb(49, 76, 102) );
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation > ul{
    display: flex;
    margin-right: 50px;
}

#navigation > ul > li{
    list-style: none;
    margin: 0px 5px;
    margin-left: -5px;
    padding: 15px 0px;
}

#navigation > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 15px 20px;
    transition: 0.5s;
}

#navigation > ul > li:first-child > a{
    border-left: 1px solid white;
}

#navigation > ul > li:hover > a{
    background-color: rgb(16, 73, 131);
}


/* dropdown menu code start */

.dropdown{
    opacity: 0;
    visibility: hidden;
    background-color: rgb(121, 120, 120);
    text-align: center;
    margin-top: 15px;
    width: 170px;
    position: absolute;
    transition: 0.5s;
    box-shadow: 10px 10px 8px black;
    transform: scaleY(0);
    transform-origin: top;
}

.dropdown > li{
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}

.dropdown > li:hover{
    background-color: rgb(72, 90, 84);
}

.dropdown > li:first-child{
    border-top: 1px solid white;
}

.dropdown > li > a{
    text-decoration: none;
    color: white;
}

#navigation > ul > li:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}


/* hero area code start here */

#main-header{
    text-align: center;
    background-image:linear-gradient( rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.692)),  url("/image/website2.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-container{
    padding-top: 220px ;
}

.header-container > h1{
    background-color: rgba(35, 24, 131, 0.918);
    width: 500px;
    margin: 20px auto;
    padding: 25px 10px;
    color: rgb(158, 212, 243);
    border-radius: 10px;
    transition: 0.5s;
}

.header-container > h1:hover{
    color: rgb(8, 8, 8);
    background-color: rgb(99, 107, 136);
    
}

.header-container > h4{
    color: rgba(205, 211, 247, 0.808);
    font-size: 25px;
    padding-bottom: 10px;
}

.header-container > button{
    font-size: 22px;
    padding: 15px 15px;
    margin-top: 20px;
    background-color: rgba(63, 149, 155, 0.795);
    border-radius: 30px 10px 30px 10px;
    border: 3px solid rgb(1, 19, 37);
    cursor: pointer;
    transition: 0.5s;
}

.header-container > button:hover{
    background-color: rgba(255, 255, 255, 0.26);
}

.socialIcon > a:first-child{
    color: rgb(253, 6, 6);
    text-decoration: none;
}

.socialIcon > a{
    color: #149DF8;
    text-decoration: none;
}
.socialIcon > a > i{
    width: 30px;
    height: 30px;
    font-size: 25px;
    margin: 10px 5px;
    padding: 5px;
    line-height: 1.2;
    background-color: white;
    border-radius: 50%;
    border: 3px solid rgb(5, 5, 5);
    transition: 0.5s;
}

.socialIcon > a > i:hover{
    background-color: rgba(140, 97, 180, 0.37);
    border: 3px solid green;
    transform: rotate(360deg);
}

/* first secton code start here */
#first-section{
    transition: 1s;
}
#first-section:hover{
    background-color: rgba(147, 231, 231, 0.459);
}

#first-container{
    display: flex;
    width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding: 100px 0px;
}

.learn-section{
    width: 300px;
    text-align: center;
    padding: 30px 10px;
    transition: 0.5s;
}

.learn-section > i{
    font-size: 50px;
}

.learn-section > h2{
    margin: 15px 0px;
}

.learn-section:hover{
    box-shadow: 30px 10px 10px rgba(37, 32, 99, 0.918);
    background-color: rgba(78, 99, 190, 0.452);
    color: #0f118f;
}

.far{
    color: red;
}


/* Second section code start here */
#second-section{
    background-color: #98bfda;
}

.smartarea-title > h2{
    font-size: 40px;
    text-align: center;
    position: relative;
}

.smartarea-title > h2::after{
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    top: 58px;
    left: 808px;
    background-color: rgb(160, 28, 28);

}

.smart-area{
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.smart-area-text{
    width: 500px;
}

.smart-area-text > h2{
    margin: 20px 0px;
}

.smart-area-text > h4{
    color: rgb(160, 28, 28);
}

.smart-area-text > a{
    text-decoration: none;
    font-size: 20px;
    background-color: brown;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    margin: 20px 0px;
    border-radius: 5px;
    transition: 0.5s;
}

.smart-area-text > a:hover{
    background-color: rgb(73, 8, 8);
}

.smart-area-image{
    height: 700px;
}

/* 3rd section code here */
#third-section{
    background-color: whitesmoke;
}

.third-section-parent{
    width: 1200px;
    margin: auto;
    padding-bottom: 60px;
}

.third-section-text{
    text-align: center;
    margin: 50px 0px 60px 0px;
}

.third-section-text > h2{
    font-size: 40px;
}

.third-section-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: 1.5s;
}

.third-section-box:hover{
    background-color: #0f118f;
    box-shadow: 15px 15px 15px rgb(3, 3, 3);
}

.each-services{
    background-color: lightblue;
    text-align: center;
    padding: 30px 0px;
    transition: 0.5s;
}

.each-services:hover{
    box-shadow: 10px 10px 10px rgb(255, 255, 255);
}

.each-services > i{
    font-size: 40px;
    color: rgba(126, 27, 27, 0.897);
}

.each-services > h3{
    margin: 15px 0px;
    font-size: 30px;
}


/* fourth section code start here */
.fourth-section{
    background-color: whitesmoke;
}

.fourth-section-container{
    width: 1000px;
    margin: auto;
    padding-bottom: 60px;
}

.pricing-title{
    text-align: center;
    font-size: 35px;
    padding: 50px 0px;
}

.pricing-area-parent{
    display: flex;
    justify-content: space-between;
}

.single-card-img{
    width: 310px;
}

.single-card-img > img{
    width: 100%;
}

.single-card{
    width: 310px;
    text-align: center;
    transition: 1s;
    box-shadow: 10px 10px 15px rgba(17, 16, 16, 0.726);
}

.single-card:hover{
    box-shadow: 15px 15px 30px rgba(69, 70, 122, 0.541);
}

.single-card > h3{
    padding: 10px 0px;
    font-size: 25px;
}

.month-pricing{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin: 10px 20px;
    padding: 15px 0px;
}

.month-pricing > .month-pricing-span1{
    font-size: 25px;
}

.month-pricing > .month-pricing-span2{
    color: gray;
}

.single-card > button{
    background-color: rgba(126, 27, 27, 0.897);
    font-size: 15px;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.single-card > button:hover{
    background-color: rgb(53, 41, 41);
    color: rgb(151, 197, 182);
}

.single-card > a{
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
}

/* 5th section code start here */
/* testimonial section */ 
#fifth-section{
    background-color: bisque;
    padding-bottom: 60px;
}

.testo-container{
    width: 1000px;
    margin: auto;
}

.testomonials-title{
    text-align: center;
    padding: 50px 0px;
}

.testomonials-title h2{
    font-size: 35px;
}

.testomonials-title h4{
    padding: 10px;
    color: gray;
    letter-spacing: 0.3em;
}

.testomonial-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.testomonials{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    transition: 0.5s;
}

.testomonials-image{
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.testomonials-image img{
    width: 100%;
    border-radius: 50%;
    border: 1px solid red;
}

.testomonial-name{
    font-size: 22px;
    display: inline-block;
    padding-bottom: 10px;
}

.testomonials:hover{
    box-shadow: 5px 5px 10px rgb(138, 133, 133);
}

.testo-ratings{
    color: #FDA72D;
    margin-top: 10px;
}